body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
}

.logo-container1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    margin-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 1000px; 
}

.column, .columPrincipal {
    flex: 1;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.column {
    margin-right: 1rem;
}
.columPrincipal{
    background-color: white;
}
.column2 {
    width: 100%;
    height: 100%;
}
.output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputText, #outputText {
    background-color: transparent;
    border: none; 
    width: 100%;
    max-width: 400px;
    resize: none;
    margin-bottom: 1rem;
}

#inputText {
    background-color: lightblue;
    height: 500px;
}
#outputText{
    
    height: 100px;
}

.output-container, .column {
    align-items: center;
    display: flex;
    flex-direction: column;
}


#muneco {
    max-width: 100%;
    margin-bottom: 1rem;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#noMessage {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#instruction {
    font-size: 1rem;
}

.botonCopy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonesEncriptacion button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
    flex-direction: row;
}

.botonesEncriptacion button:hover {
    background-color: #0b5eb7;
}

.botonesEncriptacion button:active {
    background-color: #0b5eb7;
}

.botonesEncriptacion button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#decryptBtn {
    background-color: #6c757d;
}

#decryptBtn:hover {
    background-color: #5a6268;
}

#copyBtn {
    background-color: #a7acb0;
    border: 2px solid blue;
    border: none;
    padding: 0.8rem 1.5rem;  
    font-size: 1.1rem;       
    border-radius: 0.5rem;
    cursor: pointer;
}

#copyBtn:hover {
    background-color: #0056b3;
    border-color: #949aa0;
}

#copyBtn:active {
    background-color: #004085;
}

#copyBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

