body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200%;
    margin: 0;
}

.logo-container1 {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Añadido para separar las columnas */
    width: 100%; /* Añadido para ocupar todo el ancho disponible */
}

.columPrincipal {
    flex: 1;
    margin-right: 0;
    width: 20%;
}

.column {
    flex: 1;
    margin-right: 1.5rem;
    width: 10%; /* Ajustado el ancho */
    height: 100%;
}

.column2 {
    border-radius: 5px;
    flex: 1;
    margin-left: 1rem;
    background-color: white;
    width: 60%; /* Ajustado el ancho */
    height: 100%;
}

.column:last-child {
    margin-right: 0;
}

#inputText {
    background-color: lightblue;
    border: none; /* Añadido un borde */
    width: 100%;
    height: 400px;
    resize: none;
    margin-bottom: 1rem;
}

.output-container {
    border-radius: 30px;
    background-color: white;
    padding: 1rem;
    position: relative;
}

#muneco {
    max-width: 100%;
    margin-bottom: 1rem;
}

#outputText {
    background-color: transparent;
    border: none;
    width: 60%;
    height: 100px;
    resize: none;
    margin-bottom: 1rem;
    top: 0;
    left: 0;
}
#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#noMessage {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#instruction {
    font-size: 1rem;
}

.botonCopy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonesEncriptacion button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

.botonesEncriptacion button:hover {
    background-color: #0056b3;
}

.botonesEncriptacion button:active {
    background-color: #004085;
}

.botonesEncriptacion button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#decryptBtn {
    background-color: #6c757d;
}

#decryptBtn:hover {
    background-color: #5a6268;
}

#copyBtn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#copyBtn:hover {
    background-color: #0056b3;
}

#copyBtn:active {
    background-color: #004085;
}

#copyBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
